{% assign skills = site.data.data.skills %}
{% if skills %}
<section class="section publications-section">

  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-wrench fa-stack-1x fa-inverse"></i>
    </span>
    {{ skills.title }}
  </h2>

  {% if skills.intro %}
  <div class="intro">
    {{ skills.intro | markdownify }}
  </div><!--//intro-->
  {% endif %}
  
  <ol>
  {% for publication in skills.papers %}
  <div class="item">
      <div class="publication-title">{{ publication.title }}</div>
      <div class="publication-authors">{{ publication.authors }}</div>
      <div class="publication-conference">{{ publication.conference }}</div>
  </div><!--//item-->
  {% endfor %}
  </ol>  

</section><!--//section-->
{% endif %}
