{% assign conferences = site.data.data.conferences %}
{% if conferences %}
<section class="section publications-section">

  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-file-alt fa-stack-1x fa-inverse"></i>
    </span>
    {{ conferences.title }}
  </h2>

  {% if conferences.intro %}
  <div class="intro">
    {{ conferences.intro | markdownify }}
  </div><!--//intro-->
  {% endif %}
  
  <ol>
  {% for publication in conferences.papers %}
  <div class="item">
  <li><div class="publication-title">{{ publication.title }}</div>
      <div class="publication-authors">{{ publication.authors }}</div>
      <div class="publication-conference">{{ publication.conference }}</div>
  </div><!--//item-->
  {% endfor %}
  </ol>
  
</section><!--//section-->
{% endif %}
